
<template>
  <Teleport to="body" v-if="show">
    <div
      class="modal flex justify-center items-center bg-[#00000096] fade fixed top-0 left-0  w-full h-full outline-none overflow-x-hidden overflow-y-auto show">
      <div
        :style="{width: width || '0px'}"
        class="rounded-lg bg-white px-4 py-2 shadow-md relative">
        <div class="header relative flex justify-between w-full pb-4">
          <h4 v-if="title" class="font-bold">{{title}}</h4>
          <span
            @click="handleClose"
            class="icon-x-circle absolute text-red-500 top-0 right-0 text-xl cursor-pointer hover:text-primary"></span>
        </div>
        <slot name="body"></slot>
        <slot name="footer"></slot>
      </div>
    </div>
  </Teleport>
</template>
<script>
import { reactive, toRefs } from 'vue'
export default defineComponent({
  props: {
    title: {
      type: String,
      default: 'Title Popup'
    },
    width: {
      type: String,
      default: '500px'
    },
    show: {
      type: Boolean,
      default: false
    }
  },
  setup(props, { emit }) {
    const state = reactive({})

    const handleClose = () => {
      emit('close')
    }

    return {
      ...toRefs(state),
      handleClose
    }
  }
})
</script>