<template>
<div class="block p-6 mx-auto rounded-lg shadow-lg bg-white max-w-sm relative">
  <form @submit.prevent="handleRegister">
    <div class="form-group mb-6">
      <label for="exampleInputEmail2" class="form-label inline-block mb-2 text-gray-700">Username</label>
      <input type="text" class="form-control
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        v-model="form.username"
        placeholder="Enter your name">
    </div>
    <div class="form-group mb-6">
      <label for="exampleInputEmail2" class="form-label inline-block mb-2 text-gray-700">Email address</label>
      <input type="email" class="form-control
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        v-model="form.email"
        aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group mb-6">
      <label for="exampleInputPassword2" class="form-label inline-block mb-2 text-gray-700">Password</label>
      <input type="password" class="form-control block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        v-model="form.password"
        placeholder="Password">
    </div>
    <Button
      :type="'submit'"
      :text="'Register'"
      :class="'bg-blue-600 text-white rounded-md w-full text-center'"
    />
    <p class="text-gray-800 mt-6 text-center">Have account? <NuxtLink :to="'/login'"
      class="text-blue-600 hover:text-blue-700 focus:text-blue-700 transition duration-200 ease-in-out">Login</NuxtLink>
    </p>
  </form>
  <div
    v-if="loading"
    class="absolute top-0 right-0 left-0 bottom-0 bg-[#00000091] flex justify-center items-center">
    <img class="w-20" src="~/assets/images/loading.svg" />
  </div>
</div>
</template>
<script setup>
import { reactive, ref } from 'vue'
import Button from '@/components/Button/Button.vue'
import AuthServices from '@/firebase/services/auth'
import UserServices from '@/firebase/services/user'
const { $auth, $db } = useNuxtApp()

const authServices = new AuthServices($auth)
const userServices = new UserServices($db)
const router = useRouter()
const form = reactive({
  username: '',
  email: '',
  password: '',
})

const loading = ref(false)

const handleRegister = async () => {
  loading.value = true
  try {
    const { user } = await authServices.register(form.email, form.password)
    if (user) {
      await userServices.create(user.uid, form)
      router.push('/login')
    }
  } catch (error) {
    console.error('handleRegister failed ==> ', error)
  }
  loading.value = false
}
</script>